<a href="#" class="close">&times;</a>
<h1>Configuración</h1>
  <div class="col">
    <fieldset class="sync">
      <h2><strong>Sincronización</strong></h2>
      <p><em class="total-sessions"><%= game_sessions.count() %></em> sesiones registradas<br />
        <em class="sessions-to-sync"><%= game_sessions.count({synced: false}) %></em> sesiones a sincronizar </p>
      <% if (game_sessions.count({synced: false}) > 0) { %><button id="syncUpload">Sincronizar...</button><% } %>
    </fieldset>
    <% if (new_config) { %>
    <fieldset class="sync">
      <h2><strong><em>Datos de configuración para actualizar</em></strong></h2>
      <p>
        Version <%= new_config.version %><br />
        <em><%= new_config.game_objects %></em> objetos del juego<br />
        <em><%= new_config.config_scenarios %></em> escenarios de configuración<br />
        <em><%= new_config.config_profiles %></em> perfiles de configuración
      </p>
      <button id="syncDownload">Sincronizar</button>
    </fieldset>
    <% } %>
  </div>
  <div class="col">
    <fieldset class="subject">
      <h2><strong>Identificador anónimo del sujeto</strong><br />
        Actual : <em class="subject-current"><%= current_subject_id || 'ninguno' %></em></h2>
      <label>Ingrese un nuevo identificador : <input type="number" name="subject-id" style="width: 70px" /></label>
      <button id="changeSubjectId">Cambiar el identificador</button>
    </fieldset>
    <% if (config_profiles) { %>
    <fieldset class="config">
      <h2><strong>Objetos del juego</strong></h2>
      <p><em class="local-objects"><%= game_objects.count() %></em> objetos disponibles localmente</p>
    </fieldset>
    <fieldset class="config">
      <h2><strong>Perfil de configuración</strong></h2>
        <p><em class="local-config-profiles"><%= config_profiles.length %></em> perfiles disponibles localmente</p>
      <p>Actual : <em class="config-current"><%= current_config_profile.get('name') %></em></p>
      <p>
        <select name="config-local">
          <% config_profiles.each(function(p) { %>
          <option value="<%= p.get('id') %>"<% if (p.get('id') == current_config_profile.get('id')) { %> selected="selected"<% } %>><%= p.get('name') %></option>
          <% }); %>
        </select>
      </p>
      <p>
        <button id="changeConfig">Cambiar la configuración</button>
      </p>
    </fieldset>
    <% } %>
  </div>
<div class="modal-layer">
  <div class="modal">
    <h1>Sincronizando...</h1>
    <progress id="syncProgress" value="0" max="100"></progress>
  </div>
</div>
