#progressbar {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
#progressbar .bar {
  background-color: #fff669;
  -webkit-transition: width 1s;
  transition: width 1s;
  border-radius: 10px;
}

#character {
  background-color: #5890AD;
  height: 400px;
  line-height: 400px;
  position: absolute;
  text-align: center;
  width: 200px;
  -webkit-transition: all 1s;
  transition: all 1s;
  /* hidden by default */
  left: 50%;
  margin-left: -100px;
  top: 100%;
}
#character.shown {
  margin-top: -200px;
  top: 50%;
}

.full, #game, #session, #app, body, html {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

strong {
  font-weight: bold;
}

body {
  background-color: #b1ddff;
  font-family: sans-serif;
  -webkit-transition: background 1s ease-in;
  transition: background 1s ease-in;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#app #nextTestID {
  font-size: 1.3em;
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #183b56;
}
#app footer {
  bottom: 40px;
  position: absolute;
  right: 25px;
}

#progressbar {
  height: 21px;
  left: 640px;
  line-height: 25px;
  margin-left: -150px;
  overflow: hidden;
  padding: 2px;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 300px;
  z-index: 10;
}
#progressbar .bar {
  height: 21px;
  width: 0;
}

#reward {
  background: #000 center center no-repeat;
  background-size: contain;
  color: #FFF;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 15;
}
#reward h1 {
  font-size: 40px;
  margin: 150px 0 20px;
}

#btn-start {
  background: url("../images/btn-start.png") top left no-repeat;
  display: block;
  height: 450px;
  left: 50%;
  margin-left: -225px;
  margin-top: -189px;
  position: absolute;
  top: 45%;
  width: 450px;
}

footer .btn {
  display: inline-block;
}

#btn-parents {
  background: url("../images/btn-parents.png") top left no-repeat;
  height: 116px;
  width: 259px;
}

#btn-dashboard {
  background: url("../images/btn-dashboard.png") top left no-repeat;
  height: 101px;
  width: 99px;
}

#dashboard {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  top: 20px;
}
#dashboard em {
  background-color: #FFE87C;
  padding: 2px 4px;
}
#dashboard .col {
  float: left;
  width: 47%;
}
#dashboard .col + .col {
  margin-left: 6%;
}
#dashboard .close {
  float: right;
  color: #799cb7;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  padding: 0 10px;
  text-decoration: none;
}
#dashboard h1 {
  color: #799cb7;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 14px;
  text-transform: uppercase;
}
#dashboard h2 {
  margin-bottom: 10px;
}
#dashboard fieldset {
  border-top: 4px dotted rgba(121, 156, 183, 0.5);
  padding: 20px 0;
  line-height: 26px;
}
#dashboard fieldset.log {
  clear: both;
}
#dashboard label {
  display: block;
  margin-bottom: 10px;
}
#dashboard p {
  margin-bottom: 10px;
}
#dashboard input, #dashboard select {
  padding: 5px;
}
#dashboard button {
  font-size: 16px;
  padding: 5px 15px;
}
#dashboard .modal-layer {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  bottom: 0;
  display: none;
  left: 0;
  padding: 100px 20px 20px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
#dashboard .modal-layer h1 {
  color: #efefef;
  margin-bottom: 40px;
}
#dashboard .modal-layer progress {
  width: 400px;
}
